<div class='main-container'>
  <div class="info">
    <h1>Karthik's Demo</h1>
  </div>
  <ul class="integration-list">
    <li class="integration-list-item">
      <a href="/preview?type=dropin" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">Drop-in</p>
        </div>
      </a>
    </li>
  </ul>
</div>